*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: darkblue;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	align-items: center;
}
.container{
	height: 450px;
	width: 250px;
	border: 2px dashed #fff;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.item{
	background-color: red;
	width: 190px;
	height: 50px;
	color:#fff;
	border: 1px solid black;
	display: flex;
    align-items: center;
    justify-content: center;
}